<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8" />
</head>
<body>
  <h3>Foo, Bar, Baz, Lorem, and Ipsum</h3>
  <input class="foo" type="text" />
  <input id="bar" type="text" />
  <input class="bar" type="text" /> 
  <div class="baz"></div>
  <div class="baz"></div>
  <span id="baz"><strong>Foo Bar</strong></span>
  <p class="bacon">
    Bacon Ipsum
  </p>
  <div class="messages" style="border: 1px solid red">
    <div>Lodash _.now(): <span id="lodash-now"></span></div>
    <div>Moment moment().format(): <span id="moment-format"></span></div>
    <div>Moment Formatting a .NET DateTime: <span id="moment-net-format"></span></div>
  </div>

  <table border="1">
    <thead>
      <tr>
        <th>Foos</th>
        <th>Bars</th>
        <th>Bazs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="foo">foo</td>
        <td class="bar">bar</td>
        <td class="baz">baz</td>
      </tr>
    </tbody>
  </table>

</body>
</html>
